<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    <title>swachhatha</title>
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-content">
            <h1>Unlocking Nature's Pharmacy</h1>
            <p>Welcome to the World of Medicinal Plant Identification</p>
            <a href="/flexbox2" class="checkout-button">Explore</a>
        </div>
    </div>
</body>
</html>